sudo: required
dist: trusty
language: node_js
node_js:
- node
services:
- docker
before_script:
- npm install
script:
- npm run lint
after_success:
- if [ "$TRAVIS_BRANCH" == "master" ]; then npm run build; docker build -t vvmk/ssr
  -f ./web.prod.dockerfile .; docker tag vvmk/ssr vvmk/ssr:$(git rev-parse --short
  HEAD); docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"; docker push vvmk/ssr;
  fi
before_install:
- openssl aes-256-cbc -K $encrypted_4b5070507e6b_key -iv $encrypted_4b5070507e6b_iv
  -in deploy_key.enc -out ./deploy_key -d
- ssh-add ./deploy_key
- eval "$(ssh-agent -s)"
- chmod 600 ./deploy_key
- echo -e "Host $SERVER_IP_ADDRESS\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
- ssh-add ./deploy_key
- ssh -i ./deploy_key ubuntu@ec2-54-165-59-95.compute-1.amazonaws.com pwd
