sudo: required
dist: trusty
language: node_js
node_js:
    - "node"

services:
    - docker

before_script:
    - npm install

script:
    - npm run lint

after_success:
    - if [ "$TRAVIS_BRANCH" == "master" ]; then
      npm run build;
      docker build -t vvmk/ssr -f ./web.prod.dockerfile .;
      docker tag vvmk/ssr vvmk/ssr:$(git rev-parse --short HEAD);
      docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
      docker push vvmk/ssr;
      fi

