<div mat-primary class='routineFormContainer formContainer'>
    <form (ngSubmit)='save()' [formGroup]='routineForm'>
        <mat-form-field>
            <input matInput 
                id='routineTitleId' type='text'
                placeholder='Routine Name' 
                formControlName='routineTitle'
            />
        </mat-form-field>
        <mat-form-field>
            <mat-select 
                placeholder='Character'
                formControlName='routineCharacter'>
                <mat-option *ngFor='let character of roster' value='character'>
                    {{character}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color='primary' type='submit'
            [disabled]='!routineForm.valid'>
            Save
        </button>
    </form>
</div>