<div mat-primary class='routineFormContainer formContainer'>
    <form (ngSubmit)='save()' [formGroup]='routineForm' class='ssr-form'>
        <mat-form-field>
            <input matInput 
                id='routineTitleId' type='text'
                placeholder='Routine Name' 
                formControlName='routineTitle'
            />
        </mat-form-field>
        <mat-form-field>
            <mat-select 
                placeholder='Character'
                formControlName='routineCharacter'>
                <mat-option *ngFor='let character of roster' value='character'>
                    {{character}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-divider [inset]='true'></mat-divider>
        <div class='drill-form-container'>
            <div formArrayName='drills' 
                *ngFor="let drill of drills.controls; let i=index">
                <div [formGroupName]='i'>
                    <mat-form-field >
                        <input matInput
                            type='text'
                            placeholder="{{ 'Drill #' + (i + 1) }}" 
                            formControlName='drillTitle' />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput
                            type='text'
                            placeholder='Duration (seconds)'
                            formControlName='drillDuration' />
                    </mat-form-field>
                    <button mat-icon-button
                        tabindex='-1' 
                        color='warn'
                        type='button'
                        (click)='removeDrill(i)'>
                        <mat-icon>remove_circle</mat-icon>
                    </button>
                </div>
            </div>
            <button mat-raised-button 
                type='button'
                (click)='addDrill()'>
                Add More...
            </button>
        </div>
        <mat-divider [inset]='true'></mat-divider>
        <div class='submit-button'>
            <button mat-raised-button color='primary' type='submit'
                [disabled]='!routineForm.valid'>
                Save
            </button>
        </div>
    </form>
</div>