<div class="d-flex flex-row justify-content-end border rounded list-item-container">
    <div class="ml-2 mr-auto list-item-meta">
        <div class="list-item-title">
            <button class="w-100 btn btn-link title-button" (click)="viewRoutine()" type="button">
                {{routineHeader.title}}
            </button>
        </div>
        <div class="ml-2 pb-1">
            <span class="list-item-stats">
                <img class="small-icon" src="assets/images/clock.png" />
                {{routineHeader.total_duration | time}}
            </span>
            <span *ngIf="routineHeader.popularity > 0" class="list-item-stats">
                <img class="small-icon" src="assets/images/star.png" />
                {{routineHeader.popularity}}
            </span>
        </div>
    </div>
    <div class="px-2 d-flex justify-content-center flex-column align-items-center">
        <button class="btn btn-lg p-0 px-1 btn-light" (click)="viewRoutine()" type="button">
            <fa-icon [icon]="faStream"></fa-icon>
        </button>
        <button class="btn btn-lg p-0 px-1 btn-light" (click)="runRoutine()" type="button">
            <fa-icon class="text-success" [icon]="faPlay"></fa-icon>
        </button>
    </div>
    <img class="list-item-avatar" [src]='rosterService.getListPortraitUrl(routineHeader.character)' />
</div>
