.list-item-container {
    display: grid;
    grid-template-columns: 1fr 75px 150px;
    height: 75px;
    border: 1px solid #eee;
    border-radius: 4px;
    padding-left: 5px;
    min-width: 500px;
    margin-bottom: 20px;
}

.list-item-meta: {
}

.list-item-avatar {
    height: 75px;
    border-radius: 0px 4px 4px 0px;
}

.small-icon {
    width: 1rem;
    height: 1rem;
}

.list-item-title {
    font-size: 1.3rem;
    padding: 10px 10px 5px 10px;
}

.list-item-stats {
    font-size: 1.2rem;
    padding-right: 15px;
    padding-left: 10px;
}

.list-item-buttons button {
    height: 30px;
    width: 70px;
    margin-top: 5px;
}
