<div class="list-item-container">
    <div class="list-item-top">
        <img class="list-item-avatar" [src]='avatarUrl' />
        <div class="list-item-title">{{routine.title}}</div>
        <span class="card-subtitle">
            <img class="small-clock" src="assets/images/clock.png" />
            {{routine.total_duration}}
        </span>
    </div>
    <button class="view-routine-button" (click)="viewRoutine()">
        details
    </button>
    <button class="run-routine-button" (click)="runRoutine()">
        run it
    </button>
</div>
