.drillTitle {
    font-size: 50px;
    font-family: Helvetica Neue;
}

.drillTick {
    font-size: 100px;
    font-family: Helvetica Neue
}

.routine-title {
    font-size: 2em;
    margin: 10px;
}

.runner-top {
    padding: 20px;
    border: 1px solid black;
}

.runner-timer {

}
