$runner-offset: 60px;

.runner-top {
    height: 100px;
}

.runner-bottom {
    z-index: 9999;
    position: absolute;
    height: calc(100% + $runner-offset);
    top: -$runner-offset;
    left: 0px;
    width: 100%;
}

.drill-title {
    font-size: 8vw;
    line-height: 1em;
}

.drill-tick {
    font-size: 24vw;
    line-height: 1em;
}

.runner-close {
    position: absolute;
    right: 15px;
    top: 15px;
}
