fieldset {
  border: none;
}

button {
  background-color: var(--primary-color);
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

input {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
}

input[type="submit"] {
  cursor: pointer;
  cursor-color: var(--primary-color);
}

input::-webkit-input-placeholder {
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  color: #ccc;
}

input:-ms-input-placeholder {
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  color: #ccc;
}

input::-ms-input-placeholder {
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  color: #ccc;
}

input::placeholder {
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  color: #ccc;
}

/* select */
select {
  display: block;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  color: var(--primary-color);
}

/**
 * Login and signup forms
 */
.user_options-forms {
  position: relative;
  top: 100px;
  margin: auto;
  width: calc(50% - 30px);
  min-height: 500px;
  min-width: 420px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.user_options-forms .user_forms-signup {
  position: relative !important;
  top: 20px !important;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.user_options-forms .forms_title {
  margin-bottom: 45px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
  color: var(--primary-color);
  letter-spacing: 0.1rem;
}

.user_options-forms .forms_field:not(:last-of-type) {
  margin-bottom: 20px;
}

.user_options-forms .forms_field-input {
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  padding: 6px 20px 6px 0;
  font-size: 1rem;
  color: var(--primary-color);
  letter-spacing: 0.1rem;
  transition: border-color 0.2s ease-in-out;
}

.user_options-forms .forms_field-input:focus {
  border-color: gray;
}

.user_options-forms .forms_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.user_options-forms .forms_buttons-action {
  background-color: var(--primary-color);
  background: linear-gradient(to left, var(--secondary-color), var(--primary-color));
  background-size: 200% 100%;
  border-radius: 3px;
  padding: 10px 35px;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.1rem;
  transition: background-position 0.2s ease-out;
}

.user_options-forms .forms_buttons-action:hover {
  background-position: 100%;
}

.user_options-forms .user_forms-signup {
  position: absolute;
  top: 70px;
  left: 30px;
  width: calc(100% - 80px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.user_options-forms .user_forms-signup .forms_buttons {
  justify-content: flex-end;
}

.user_options-forms .user_forms-signup {
  opacity: 1;
  visibility: visible;
}

.signup-register {
  display: block;
}
