<h1>{{routine.title}}</h1>
<p>total runtime: {{routine.total_duration}}</p>
<p>character: {{routine.character}}</p>
<p>creator: {{routine.creator_tag}}</p>
<ul>
    <li *ngFor='let drill of routine.drills'>
        <p>{{drill.drill_title}} : {{drill.duration}}</p>
    </li>
</ul>
<button mat-raised-button color='primary' (click)='runRoutine()'>
    Run
</button>
<button mat-raised-button color='warning' (click)='editRoutine()'>
    Edit
</button>
<button mat-raised-button color='danger' (click)='deleteRoutine()'>
    Delete
</button>
