.routine-view-container {
    display: grid;
    grid-template-columns: 300px 2fr;
    grid-template-rows: 200px 1fr;
    grid-gap: 25px;
    padding-right: 50px;
}

.routine-view-top {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    padding: 5px;
    margin: 5px;
    position: fixed;
    top: var(--navbar-height);
}

.routine-view-drills {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.routine-view-controls {
    border-bottom: 1px solid #eee;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.routine-view-controls button {
    margin: 15px;
    height: 25px;
    border-radius: 4px;
    margin-top: 156px;
}

.routine-title {
    width: 100%;
    margin-top: 25;
}

.character-portrait {
    float: right;
    border-right: 1px solid #eee;
    height: 100%;
}

