.ssr-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #222222;
    margin: 0px;
    height: var(--navbar-height);
    width: 100%;
    display: flex;
}

.ssr-toolbar * {
    display: inline;
}

.ssr-toolbar ul {
    width: 100%;
}

.ssr-toolbar li {
    margin: 5px 10px 5px 10px;
}

.ssr-toolbar li a {
    color: var(--light-color);
    text-decoration: none;
}

.right {
    float: right;
    margin: 5px 10px 5px 10px;
}
