<nav class="navbar fixed-top navbar-dark bg-dark text-light">
    <a class="navbar-brand" [routerLink]="['/']" >
        <img src="../assets/images/nav_brand.svg" width="30" height="30" alt="" />
    </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf='!authService.isLoggedIn()'><a class="nav-link" [routerLink]="['/login']">Log in</a></li>
            <li class="nav-item" *ngIf='!authService.isLoggedIn()'><a class="nav-link" [routerLink]="['/register']">Sign Up</a></li>
            <li ngbDropdown *ngIf='authService.isLoggedIn()' class="nav-item dropdown">
                <button ngbDropdownToggle class="dropdown-toggle text-info btn btn-link" id="dropdownMenuButton">
                    <!-- {{userService.currentUser.tag}} -->
                    user
                </button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" [routerLink]="['/library']">Library</button>
                    <button class="dropdown-item" [routerLink]="['/create']">Create</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" (click)='logout()' [routerLink]="['/login']">Logout</button>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
</nav>
<router-outlet></router-outlet>
