<nav class="navbar fixed-top bg-dark text-light">
    <div class="w-100 container">
    <a class="navbar-brand" [routerLink]="['/']">
        <img src="../assets/images/logo/logo-white-spread.svg" width="30" height="30" alt="" />
    </a>
    <ul class="nav navbar-nav flex-row ml-auto">
        <li class="nav-item px-3 py-0" *ngIf='!auth.isLoggedIn()'><a class="nav-link" [routerLink]="['/login']">Log in</a></li>
        <li class="nav-item px-3 py-0" *ngIf='!auth.isLoggedIn()'><a class="nav-link" [routerLink]="['/register']">Sign Up</a></li>
        <li ngbDropdown *ngIf='auth.isLoggedIn()' class="text-light nav-item dropdown pl-3 py-0">
            <button ngbDropdownToggle class="pr-1 dropdown-toggle text-info btn btn-link" id="dropdownMenuButton">
                <img [src]="avatarSource" class="border border-success rounded-circle user-icon"/>
            </button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" [routerLink]="['/library']">My Library</button>
                <button class="dropdown-item" [routerLink]="['/create']">New Routine</button>
                <div class="dropdown-divider"></div>
                <button class="disabled dropdown-item">Help</button>
                <button class="disabled dropdown-item">Settings</button>
                <a class="dropdown-item" target="_blank" href="https://github.com/vvmk/SHFFLShineRepeat/issues">Report a bug</a>
                <button class="dropdown-item" (click)='logout()' [routerLink]="['/login']">Sign out</button>
            </div>
        </li>
    </ul>
    </div>
</nav>
<div class="p-0 h-100 w-100 bg-white content-container">
    <router-outlet></router-outlet>
</div>
