.dropdown-menu {
    position: absolute;
    left: -90px !important;
}

.dropdown {
    cursor: pointer;
}

.dropdown-toggle {
    text-decoration: none;
}

.main-nav {
    max-width: 80%;
}

.user-icon {
    width: 30px;
    height: 30px;
}
