<div class="pt-5 text-dark library-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <ssr-library-header [user]='profile.user'></ssr-library-header>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
                <ssr-routine-list [routineHeaders]='profile.routine_headers'></ssr-routine-list>

                <div class="w-75 border alert alert-info" role="alert" *ngIf="showWelcome">
                    <h3 class="text-center">There's nothing here!</h3>
                    <p class="text-center"><a class="text-success" [routerLink]="['/create']">Create a Routine</a> 
                    or find one using the search bar above.</p>
                </div>
            </div>
        </div>
    </div>
