<span style="position: absolute;top:0px;left:5px;;font-size: .8rem;">*UI and UX are also under heavy development 🙈 </span>
<div class="user_options-forms" id="user_options-forms">
    <div class="user_forms-login">
        <h2 class="forms_title">Login</h2>
        <form [formGroup]="loginForm">
            <fieldset class="forms_fieldset">
                <div class="forms_field">
                    <label>Email:</label>
                    <input name="email"
                           formControlName="email"
                           class="forms_field-input"
                           required
                           autofocus
                           />
                </div>
                <div class="forms_field">
                    <label>Password:</label>
                    <input name="password"
                           formControlName="password"
                           type="password"
                           class="forms_field-input"
                           required
                           />
                </div>
            </fieldset>
            <div class="forms_buttons">
                <button class="forms_buttons-action"
                        (click)="login()">Login</button>
            </div>
            <div class="login-register">
                <button (click)='forgot()'>I forgot my password</button><br>
                <a [routerLink]="['/register']">Sign Up</a>
            </div>
        </form>
    </div>
</div>
