<div class="w-100 h-100 text-dark bg-light">
    <div class="container d-flex justify-content-around align-items-center flex-column login-container">
        <div class="login-logo">
            <img class="text-success" [src]="logoSrc" />
        </div>
        <h3 class="text-center py-2">Sign in to SSR</h3>
        <form class="border p-3 text-white shadow-lg bg-secondary my-1 rounded login-form"
              [formGroup]="loginForm">
            <div class="form-group">
                <label for="loginEmail">Email address</label>
                <input class="border form-control" 
                       id="loginEmail"
                       type="email"
                       formControlName="email"
                       required
                       autofocus>
            </div>
            <div class="form-group">
                <label for="loginPassword">Password</label>
                <input class="border form-control" 
                       id="loginPassword" 
                       type="password"
                       formControlName="password"
                       required>
            </div>
            <button class="w-100 btn btn-lg btn-success" type="submit" (click)="login()">Submit</button>
            <button class="btn btn-link" (click)='forgot()'><small>I forgot my password</small></button>
            <div class="mt-4 w-100 border rounded-0"></div>
            <a class="btn btn-link" [routerLink]="['/register']">Don't have an account yet?</a>

        </form>
    </div>
</div>
