<div class="user_options-forms" id="user_options-forms">
    <div class="user_forms-login">
        <h2 class="forms_title">Login</h2>
        <form [formGroup]="loginForm">
            <fieldset class="forms_fieldset">
                <div class="forms_field">
                    <label>Email:</label>
                    <input name="email"
                           formControlName="email"
                           class="forms_field-input"
                           required
                           autofocus
                           />
                </div>
                <div class="forms_field">
                    <label>Password:</label>
                    <input name="password"
                           formControlName="password"
                           type="password"
                           class="forms_field-input"
                           required
                           />
                </div>
            </fieldset>
            <div class="forms_buttons">
                <button class="forms_buttons-action"
                        (click)="login()">Login</button>
            </div>
            <button type="button" class="forms_buttons-forgot">Forgot password?</button>
            <div class="login-register">
                <a [routerLink]="['/register']">Sign Up</a>
            </div>
        </form>
    </div>
</div>
