.library-header-container {
    // position: fixed;
    // left: 0;
    // top: var(--navbar-height);
    // padding: 5px;
    // margin: 5px;
    display: grid;
    width: 215px;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    grid-row-gap: 10px;
}

.user-tag {
    font-size: 1.6rem;
    font-weight: 500;
    height: 30px;
}

.user-main-token {
    width: 35px;
}

.user-bio {
    font-size: 14px;
    line-height: 1.5em;
}
