.library-header-container {
    position: fixed;
    left: 0;
    top: var(--navbar-height);
    padding: 5px;
    margin: 5px;
    display: grid;
    width: 215px;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    grid-row-gap: 10px;
}

.user-title {
}

.user-title * {
    padding-left: 5px;
    padding-right: 5px;
}

.user-tag {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    height: 30px;
}

.user-picture {
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
    border-radius: 4px;
}

.user-main-token {
    width: 30px;
    height: 30px;
    float: right;
}

.user-bio {
    padding: 0px 5px 10px 5px;
    font-size: 14px;
    line-height: 1.5em;
}

.follow-edit {
    height: 30px;
}
