<div class="h-75 container d-flex justify-content-center align-items-center flex-column">
  <h1 class="text-center text-danger">500!</h1>
  <p class="w-75 text-center text-secondary">
  Oops! This one's definitely my fault. I've probably been notified already, but
  if you want to help make the site better and know how to use GitHub, why not 
  <a class="text-success" target="_blank" href="https://github.com/vvmk/SHFFLShineRepeat/issues">submit an issue</a>?
  </p>
  <p class="w-75 text-center text-secondary">No pressure, though. Thanks for sticking around while the site is in prototype, I promise I'm working
  really, really hard and everything will be better soon!</p>
</div>
