:root {
    --primary-color: #0074D9;
    --secondary-color: #7FDBFF;
    --warning-color: #FF4136;
    --success-color: #2ECC40;
    --light-color: #EEEEEE;
    --dark-color: #001f3f;
    --bg-color: #111111;
    --navbar-height: 50px;
}

html, body {
    margin: 0;
    font-family: Helvetica Neue Light, sans-serif;
    height: 100%;
    width: 100%;
    background-color: var(--light-color);
    color: var(--light-color);
}

.content {
    margin: 0;
    margin-top: var(--navbar-height);
}

.ssr-card {
    background-color: var(--light-color);
    color: #111111;
    padding: 5px;
    margin: 0;
    box-shadow:
    0px 10px 5px rgba(0,0,0,0.1),
    5px 5px 5px rgba(0,0,0,0.1),
    -10px 10px 5px rgba(0,0,0,0.05);
}
