@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-card {
    text-align: -webkit-center;
}

.ssr-toolbar {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 0;
}

.ssr-form {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.ssr-full-width {
    width: 100%;
}

.content {
    height: 100%;
    width: auto;
    background-color: rgb(215, 215, 215);
    margin: 0px;
    padding: 20px 20px 0px 20px;
}

ssr-root {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    font-family: Helvetica Neue Light, sans-serif;
    height: 100%;
    width: 100%;
}

mat-card {
    max-width: 80%;
    margin: 1em auto;
    text-align: center;
}

mat-toolbar-row {
    justify-content: space-between;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

.content-center {
    text-align: -webkit-center;
}

h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
    padding: 10px;
}

