:root {
    --primary-color: #0074D9;
    --secondary-color: #7FDBFF;
    --warning-color: #FF4136;
    --success-color: #2ECC40;
    --light-color: #DDDDDD;
    --dark-color: #001f3f;
    --bg-color: #111111;
    --navbar-height: 50px;
}

html, body {
    margin: 0;
    font-family: Helvetica Neue Light, sans-serif;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--light-color);
}

.ssr-toolbar {
    display: grid;
    grid-template-columns: 2fr repeat(8, 1fr);
    grid-template-rows: 100%;
    position: relative;
    z-index: 0;
    background-color: var(--dark-color);
    color: var(--secondary-color);
    margin: 0px;
    height: var(--navbar-height);
    width: 100%;
}

.content {
    margin: 25px;
}

.ssr-form {
}

.ssr-full-width {
}

ssr-root {
}
