:root {
    --primary-color: #0074D9;
    --secondary-color: #7FDBFF;
    --tertiary-color: #DCAE3D;
    --warning-color: #FF4136;
    --success-color: #2ECC40;
    --light-color: #EEEEEE;
    --dark-color: #001f3f;
    --bg-color: #222222;
    --bg-light: white;
    --navbar-height: 50px;
}

html, body {
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    height: 100%;
    width: 100%;
    background-color: var(--bg-light);
    color: var(--dark-color);
}

body {
    z-index: 1;
    position: relative;
}

.content {
    margin: 0;
    margin-top: var(--navbar-height);
    background-color: var(--bg-light);
    height: 100%;
}

.ssr-card {
    background-color: var(--light-color);
    color: #111111;
    padding: 5px;
    margin: 0;
    box-shadow:
    0px 10px 5px rgba(0,0,0,0.1),
    5px 5px 5px rgba(0,0,0,0.1),
    -10px 10px 5px rgba(0,0,0,0.05);
}
