.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 235px repeat(4, 250px);
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    grid-template-areas:
    "header header header header header header"
    "welcome welcome welcome welcome welcome welcome"
    "firstquote firstquote firstabout firstabout firstabout firstabout"
    "secondabout secondabout secondabout secondabout secondquote secondquote"
    "start start start start start start";
}

.home-container div {
    background-color: var(--bg-light);
    color: #111111;
    padding: 5px;
    margin: 0;
}

.home-container div * {
    text-align: center;
    margin: auto;
}

.header {
    grid-area: header;
    background-color: var(--secondary-color);
    height: 235px;
    margin: 0;
}

.welcome {
    grid-area: welcome;
}

.firstquote {
    grid-area: firstquote;
    background-image: url(../../assets/images/punk-brush-blue.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.firstabout {
    grid-area: firstabout;
}

.secondquote {
    grid-area: secondquote;
    background-image: url(../../assets/images/punk-brush-blue-mirror.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.secondabout {
    grid-area: secondabout;
}

.start {
    grid-area: start;
}

.quote {
    position: relative;
    top: 35%;
    text-align: center;
}

.section-title {
    margin: 5px 0px 5px 0px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.5em;
    color: var(--dark-color);
}

