<div class="home-container">
    <span class="header">SHFFL -> Shine -> Repeat</span>
    <div class="welcome">
        <span class="section-title">Welcome to SSR!</span>
        <p>
        <strong>BE WARNED</strong> this is pre-alpha software under heavy
        development. Expect bugs. <br><br>(feel free to report them <a href="https://github.com/vvmk/SHFFLShineRepeat/issues">here</a>)
        </p>
        <p>
        The site design is basically an ongoing experiment with NgMaterial 
        that I feel like I've long since lost, work on a more cohesive layout/design
        is underway.
        </p>
    </div>
    <div class="firstquote">
        <span class="quote">"Melee is hard -everyone </span>
    </div>
    <div class="firstabout">
        <p class="about">
        This is a problem you might not know you had
        and some possibly fake facts to convince you that you indeed have
        this problem.
        </p>
    </div>
    <div class="secondabout">
        <p class="about">
        This is where you are made aware of just how difficult this problem is to 
        solve, and a good solution is not going to just appear unless someone does 
        something about it. Just when you lose all hope...</p>
    </div>
    <div class="secondquote">
        <span class="quote">"Melee is an honest game." -your friend who just wrecked you</span>
    </div>
    <div class="start">
        <p class="section-title">SHFFL->Shine->Repeat</p>
        <p class="about">
        The thing that I made that is the best and only solution to a problem 
        I just convinced you that you had.
        </p>
        <button class="register-button">WTF AM I WAITING FOR?!</button>
    </div>
</div>
