$section-height: 600px;
$blur-deviation: 8px;

@mixin above-header {
    z-index: 3;
}

@mixin section {
    height: $section-height;
}

%section {
    // @include section;
    @include above-header;
}

.header-container:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    display: block;
    // background-image: url(../../assets/images/bf_banner.png);
    background-image: url(../../assets/images/banner.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    width: inherit;
    height: inherit;

    -webkit-filter: blur($blur-deviation);
    -moz-filter: blur($blur-deviation);
    -o-filter: blur($blur-deviation);
    -ms-filter: blur($blur-deviation);
    filter: blur($blur-deviation);
}

.header-container {
    @include section;

    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;

    z-index: 0;
}

.header-intro {
    z-index: 1;
}

.header-signup {
    margin-left: auto;
    margin-right: 50px;

    min-width: 300px;
    z-index: 1;
}

.quote-container {
    @extend %section;
}

.features-container {
    @extend %section;
}

.twentyxx-container {
    @extend %section;
}

.register-container {
    @extend %section;
}

%quote {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
}

%about {
    font-size: 1rem;
    line-height: 1.7rem;
}

.firstquote {
    @extend %quote;
    background-image: url(../../assets/images/punk-brush-blue.png);
}

.firstabout {
    @extend %about;
}

.secondquote {
    @extend %quote;
    background-image: url(../../assets/images/punk-brush-blue-mirror.png);
}

.secondabout {
    @extend %about;
}

.quote {
    position: relative;
    top: 35%;
    font-size: 1.3rem;
    line-height: 1.7em;
    text-align: center;
}

.quoteauthor {
    font-size: 0.9rem;
}

.register-container {
    @extend %section;
}

.feature {
    height: 290px;
}

.feature-icon {
    font-size: 35px;
}

.shoutout {
    font-size: 1.3rem;
    line-height: 3rem;
}

.register-button {
    width: 200px;
}
