<div class="w-100 h-100 bg-white home-container">
    <div class="w-100 bg-secondary d-flex justify-content-center header-container">
        <div class="p-5 header-intro d-flex flex-column align-items-center justify-content-around">
            <h1 class="w-75 text-white text-center">No More Johns...</h1>
            <h3 class="w-75 text-white text-center">Welcome to SHFFLShineRepeat. This is filler text. Start an account to your right or
                <a [routerLink]="['/login']">Sign in</a> if you've already got one.</h3>
        </div>
        <div class="bg-success shadow-lg px-5 py-3 d-flex flex-column justify-content-around header-signup">
            <h3 class="text-center">Sign up</h3>
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <button class="btn btn-info">Sign Up</button>
        </div>
    </div>
    <div class="w-100 bg-white text-dark p-5 container justify-content-around quote-container">
        <div class="row pt-5 justify-content-center align-items-center">
            <div class="col-4 firstquote">
                <p class="text-center quote">"Melee is hard"<br><span class="quoteauthor">-everyone</span></p>
            </div>
            <div class="col-8 firstabout">
                <h5 class="mb-2">Super Smash Bros. Melee is hard.</h5>
                <p class="about">
                In a game so technically demanding, staying 
                sharp is crucial to staying competative. Unfortunately, practicing a hobby 
                (especially video games) tends to be one of the first victims claimed by the 
                onslaught of adult responsibility. But if something is important to you, you will 
                make time for it - as the saying goes. 
                </p>
            </div>
        </div>
        <div class="row pt-5 justify-content-center align-items-center">
            <div class="col-8 secondabout">
                <h5 class="mb-2">So you pick a chunk of time to practice every day.</h5>
                <p class="about">You get home from 
                work, load up 20XX, and set a timer for 30 minutes...but what to practice?
                Maybe just pillar/ken-combo a Fox CPU for the 10,000th time? Boring. "X minute 
                [character] practice routine" on YouTube? You'll spend more time playing with the video
                than your controller. Search SmashBoards? Write your own? Who's going to hold 
                the stopwatch? And how much of your 30 minutes did you spend setting up?
                </p>
            </div>
            <div class="col-4 secondquote">
                <p class="text-center quote">"Melee is an honest game."<br><span class="quoteauthor">-your friend who just wrecked you</span></p>
            </div>
        </div>
    </div>
    <div class="w-100 pb-5 mb-5 bg-white text-dark container features-container">
        <div class="row mt-5 mb-2 flex-column justify-content-center">
            <h2 class="pb-1 pt-5 text-center">SHFFL -> Shine -> Repeat</h2>
            <p class="text-center">Designed from the ground up to remove your excuses and make the most of your practice time.</p>
        </div>
        <div class="row py-5 justify-content-between">
            <div class="col-4">
                <div class="card py-3 border-success bg-white rounded-1">
                    <div class="text-success text-center">
                        <fa-icon class="feature-icon" [icon]="faStopwatch"></fa-icon>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center pb-2">Hands where they belong</h5>
                        <p class="card-text">No more messing around with video-player controls or phone timers. SSR has an automated
                        drill runner built right in. Once you press start, your hands never have to leave the controller.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card py-3 border-success bg-white rounded-1">
                    <div class="text-success text-center">
                        <fa-icon class="feature-icon" [icon]="faEdit"></fa-icon>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center pb-2">Stay organised</h5>
                        <p class="card-text">Compose new routines right in the browser so they're never more than a click away. Organise routines
                        by character, training partner, or stage. Edit them as you learn and perfect new things so you never stop 
                        growing as a player.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card py-3 border-success bg-white rounded-1">
                    <div class="text-success text-center">
                        <fa-icon class="feature-icon" [icon]="faSearch"></fa-icon>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center pb-2">Knowledge is meant to be shared</h5>
                        <p class="card-text">Routines are public by default. Look up routines by their creator's tag or browse by character 
                        if you're looking for a new main. Found one worth saving? Add a copy to your library to run and edit as you see fit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 bg-white text-dark container align-items-center justify-content-center 20xx-container">
        <div class="row">
            <!-- <div class="col"> -->
            <h5>SSR Works best with...</h5>
            <h1>
                <a href="https://smashboards.com/threads/the-20xx-melee-training-hack-pack-v4-07-7-04-17.351221/">
                    The 20XX Melee Training Hack Pack
                </a>
            </h1>
            <!-- </div> -->
        </div>
    </div>
    <div class="w-100 bg-white container register-container">
        <p class="about"><span class="section-title">SHFFL->Shine->Repeat</span><br /><br />
        Create and Share Melee pracice routines and run them right in your browser, hands free to be where they should be: on a controller.<br /><br />
        <button class="register-button">Get Started</button>
        </p>
    </div>
</div>
<!-- <footer> -->
<!--     <span class="credits">Built <a href="https://github.com/vvmk/ShineServer">back</a> to <a href="https://github.com/vvmk/ShfflShineRepeat">front</a> with 💙  by Vincent Masiello</span> -->
<!--     <br><a href="https://complexaesthetic.com">© 2018, Complex Aesthetic Software</a> -->
<!-- </footer> -->
