.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px repeat(4, 300px);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-areas:
    "header header header header header header"
    "firstquote firstquote firstabout firstabout firstabout firstabout"
    "secondabout secondabout secondabout secondabout secondquote secondquote"
    "start start start start start start"
    "start start start start start start";
}

.home-container div {
    background-color: var(--bg-light);
    color: #111111;
    padding: 20px;
    margin: 0;
}

.home-container div * {
    text-align: center;
    margin: auto;
}

.header {
    grid-area: header;
    background-color: var(--primary-color) !important;
    color: var(--light-color) !important;
    height: 235px;
    margin: 0;
}

.firstquote {
    grid-area: firstquote;
    background-image: url(../../assets/images/punk-brush-blue.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.firstabout {
    grid-area: firstabout;
}

.secondquote {
    grid-area: secondquote;
    background-image: url(../../assets/images/punk-brush-blue-mirror.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.secondabout {
    grid-area: secondabout;
}

.start {
    grid-area: start;
    background-color: var(--secondary-color) !important;
    color: var(--dark-color) !important;
}

.quote {
    position: relative;
    top: 35%;
    text-align: center;
}

.about {
    position: relative;
    top: 25%;
    width: 90%;
}

.register-button {
    background-color: var(--success-color);
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
    margin: 30px;
    padding: 10px;
    width: 300px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
}

.section-title {
    margin: 5px 0px 5px 0px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.5em;
    color: var(--dark-color);
}

