.home-container {
    display: grid;
    grid-template-columns: 320px 1fr 1fr 320px;
    /* grid-template-columns: repeat(auto-fit, minmax(110, 1fr); */
    grid-template-rows: 250px repeat(2, 300px) 500px 100px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-areas:
    "header header header header"
    "firstquote firstabout firstabout firstabout"
    "secondabout secondabout secondabout secondquote"
    "start start start start"
    ". . . . ";
}

.home-container div {
    background-color: var(--bg-light);
    color: #111111;
    padding: 20px;
    margin: 0;
}

.home-container div * {
    text-align: center;
    margin: auto;
}

.header {
    grid-area: header;
    background-color: var(--primary-color) !important;
    color: var(--light-color) !important;
    height: 235px;
    margin: 0;
}

.firstquote {
    grid-area: firstquote;
    background-image: url(../../assets/images/punk-brush-blue.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.firstabout {
    grid-area: firstabout;
}

.secondquote {
    grid-area: secondquote;
    background-image: url(../../assets/images/punk-brush-blue-mirror.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.secondabout {
    grid-area: secondabout;
}

.start {
    grid-area: start;
    background-color: var(--secondary-color) !important;
    color: var(--dark-color) !important;
}

.quote {
    position: relative;
    top: 35%;
    font-size: 1.3rem;
    line-height: 1.7em;
    text-align: center;
}

.quoteauthor {
    font-size: 0.9rem;
}

.about {
    position: relative;
    display: block;
    font-size: 1.2rem; 
    line-height: 1.7em;
    top: 10%;
    width: 90%;
}

.register-button {
    background-color: var(--success-color);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin: 30px;
    padding: 10px;
    width: 300px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
}

.section-title {
    margin: 5px 0px 5px 0px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.5em;
    color: var(--dark-color);
}

